DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=rsp_db
PORT=3000
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin

# Nodemailer SMTP Configuration

# Account 1 (Primary)
SMTP_HOST_1=smtp.gmail.com
SMTP_PORT_1=587
SMTP_USER_1=rsp.hr.department@gmail.com
SMTP_PASS_1=your_app_password
SMTP_GMAILNAME_1=HR Department (Primary)

# Account 2 (Secondary)
SMTP_HOST_2=smtp.gmail.com
SMTP_PORT_2=587
SMTP_USER_2=secondary.account@gmail.com
SMTP_PASS_2=your_app_password
SMTP_GMAILNAME_2=HR Department (Secondary)