DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=rsp_db
PORT=3000
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin

# Nodemailer SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rsp.hr.department@gmail.com
SMTP_PASS=your_app_password