<!-- Modals (Hidden from print) -->
<div class="d-print-none">
    {{> modal_add_applicant}}
    
    {{> modal_summary}}

    {{> modal_qualify}}

    {{> modal_summary_disqualify}}

    {{> modal_score}}

    {{> modal_requirements}}

    {{> modal_assign}}

    {{> modal_info}}

    {{> modal_edu}}

    {{> modal_train}}

    {{> modal_exp}}

    {{> modal_elig}}
    
    {{> modal_delete_confirm}}
</div>

    {{> modal_assessment}}

    {{> modal_edu_calc}}
    
    {{> modal_train_calc}}

    {{> modal_exp_calc}}
    
    {{> modal_perf_calc}}

    {{> modal_out_acc_calc}}

    {{> modal_app_edu_calc}}

    {{> modal_app_l_n_d_calc}}


    {{> modal_potential_calc}}

    {{> modal_step2_summary}}

    {{> modal_step3_confirm}}

</div>
    {{> modal_success}}
    <!-- Bootstrap Bundle with Popper -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/applicantWizard.js"></script>
    <script src="/js/pdfGenerator.js?v=1.1"></script>
    <script src="/jspdf/dist/jspdf.umd.min.js"></script>
