<!-- Modals (Hidden from print) -->
<div class="d-print-none">
    {{> modal_unified}}
    {{> modal_add_applicant}}
    {{> modal_add_position}}
    {{> modal_update_status}}
    {{> modal_plantilla}}
    {{> modal_position_info}}
    
    {{> modal_summary}}

    {{> modal_qualify}}

    {{> modal_proceed}}

    {{> modal_summary_disqualify}}


    {{> modal_ier_download}}
    {{> modal_car_download}}

    {{> modal_requirements}}

    {{> modal_assign}}

    {{> modal_info}}

    {{> modal_edu}}

    {{> modal_train}}

    {{> modal_exp}}

    {{> modal_elig}}
    
    {{> modal_delete_confirm}}
</div>

    {{> modal_assessment}}

    {{> modal_edu_calc}}
    
    {{> modal_train_calc}}

    {{> modal_exp_calc}}
    
    {{> modal_perf_calc}}

    {{> modal_out_acc_calc}}

    {{> modal_app_edu_calc}}

    {{> modal_app_l_n_d_calc}}


    {{> modal_potential_calc}}

    {{> modal_step2_summary}}

    {{> modal_step3_confirm}}
    {{> modal_step3_remove_no_appearance}}

    <!-- Document Type Modal -->
    <div class="modal fade glass-modal" id="docTypeModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="modal-header border-bottom-0 pb-0">
                    <h5 class="modal-title fw-bold text-primary" id="docTypeModalTitle"><i class="bi bi-file-earmark-word"></i> Generate Document</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body pb-4">
                    <p class="text-muted small mb-3" id="docTypeModalDesc">Select the template to use for generating the document.</p>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Template Options</label>
                        <select class="form-select" id="docTypeSelect">
                            <!-- Populated dynamically -->
                        </select>
                    </div>
                </div>
                <div class="modal-footer border-top-0 pt-0">
                    <button type="button" class="btn btn-light shadow-sm" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary shadow-sm" onclick="window.downloadSelectedDoc()">
                        <i class="bi bi-download"></i> Download
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Off All Vacancies Confirmation Modal -->
    <div class="modal fade glass-modal" id="offAllVacanciesModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="modal-header border-bottom-0 pb-0">
                    <h5 class="modal-title fw-bold text-danger"><i class="bi bi-exclamation-triangle"></i> Turn Off All Vacancies</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body pb-4">
                    <p class="mb-0">Are you sure you want to turn off all vacancy positions? This will mark all positions as non-vacant.</p>
                </div>
                <div class="modal-footer border-top-0 pt-0">
                    <button type="button" class="btn btn-light shadow-sm" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger shadow-sm" id="confirmOffAllVacanciesBtn">
                        <i class="bi bi-power"></i> Turn Off All
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
    {{> modal_success}}
    <!-- Bootstrap Bundle with Popper -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/applicantWizard.js?v=1.2"></script>
    <script src="/pizzip/pizzip.js"></script>
    <script src="/docxtemplater/docxtemplater.js?v=2.0"></script>
    <script src="/file-saver/FileSaver.js"></script>
    <script src="/js/docHeaderFooter.js?v=1.0"></script>
    <script src="/js/docMakerCore.js?v=1.3"></script>
    <script src="/js/docMakerInitialEvalQualifiedHigherTeaching.js?v=1.4"></script>
    <script src="/js/docMakerInitialEvalQualifiedWithoutDate.js?v=1.4"></script>
    <script src="/js/docMakerInitialEvalDQHigherTeaching.js?v=1.4"></script>
    <script src="/js/docMakerInitialEvalDQNoOmnibus.js?v=1.4"></script>
    <script src="/js/docMakerInitialEvalDQNotNotarized.js?v=1.4"></script>
    <script src="/js/docMakerInitialEvalDQ.js?v=1.4"></script>
    <script src="/js/docMakerReqNewlyHired.js?v=1.4"></script>
    <script src="/js/docMakerReqPromotion.js?v=1.4"></script>
    <script src="/js/docMakerTransferAcceptance.js?v=1.4"></script>
    <script src="/js/docMakerAssignmentSchool.js?v=1.4"></script>
    <script src="/js/docMakerAssignmentDivision.js?v=1.4"></script>
