{{> header}}

<div class="glass-panel p-4 mb-0 shadow-sm rounded-4 d-print-none">
    <!-- Tab Content -->
    {{> step1}}
    {{> step2}}
    {{> step3}}
    {{> step4}}
    {{> step5}}
</div>

{{> index_modals}}

<script src="/js/requirements.js"></script>
<script src="/js/qualifications.js"></script>
<script src="/js/scores.js"></script>
<script src="/js/assignment.js"></script>
<script src="/js/applicantDetails.js"></script>
<script src="/js/documents.js"></script>
<script src="/js/assessment.js"></script>
    <!-- Custom JS -->
    <script src="/js/main.js"></script>
    <script src="/js/modal_stack.js"></script>
</body>
</html>